.cards {
  background-color: #fff;
  width: 269px;
  /* padding: 10px; */
  box-shadow: 0px 0px 8px #e2dddd;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
}
.plan {
  background-color: #0d72ea;
  padding: 5px 8px;
  display: inline-block;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0px;
  color: #fff;
}
.onetime {
  background-color: #fff;
  border: 1px solid #0d72ea;
  padding: 5px 8px;
  display: inline-block;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #0d72ea;
  margin: 5px 0;
}
.package {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.hero{
  margin: 0 10px;
  border-bottom: 2px solid #ccc;
}
.content{
  padding: 15px;
  box-shadow: -8px 10px 12px #ddd ;
}
.content ul{
  margin: 0;
  padding: 0 20px;
  list-style-image: url('../../assets/icons/check.svg');

}
.content ul li {
  padding: 5px 15px;
  position: relative;
}
.content ul li p{
  /* margin: 0; */
  margin-top: -3px;
  position: absolute;
}

.footer{
  padding: 10px;

}